<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>BBC iPlayer</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,600italic,700italic" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/main.css">