* { margin: 0; padding: 0; outline: none; border: none; -moz-box-sizing: border-box; -webkit-box-sizing:border-box; box-sizing: border-box;}

body {background-color: #333333; font-family: 'Open Sans', sans-serif;}

h1 {font-size:26px; color:#ffffff; font-weight: 400; margin:1em 0;}
h1 span {color:#f54997; text-transform: uppercase;}

#holder {width: 980px; max-width: 100%; margin: 0 auto; padding: 25px 0;}

#listing-select-holder {font-size:0;}
.listing-select {list-style: none;  width: 100%; margin:1.5em 0;}
.listing-select li {display: inline-block; }
.listing-select li a {text-decoration: none; background-color:#2D2D2D; display:block; color: #ffffff; text-transform: uppercase; width: 50px; height: 50px; line-height: 50px; font-size:16px; margin:2px; text-align: center;}
.listing-select li a:hover {background-color:#f54997; color:#ffffff;}

.programme-listing {display:inline-block; margin:0 10px 10px 0; position: relative; width:310px;}
.programme-listing h2 {color:#ffffff; font-weight:400; margin-top:10px; font-size:18px; position:absolute; bottom:0; left:0; width:100%; padding:10px 15px; background-color:rgba(0,0,0,0.6); line-height: 1.2em;}
.programme-listing img {max-width:100%;}

.paging {list-style: none; display: block; margin:15px 0; text-align: center;}
.paging li {display: inline-block;}
.paging li a {color:#ffffff; text-decoration: none; display: block; padding:5px 8px;}
.paging li a.active {background:#f54997;}