<!doctype html>
<html lang="en">
    <head>

        <% include ../partials/header %>

    </head>
    <body>
        
        <div id="holder">
            <% include ../partials/navigation.ejs %>

        </div>

    </body>
</html>