<!doctype html>
<html lang="en">
    <head>

        <% include ../partials/header %>

    </head>
    <body>
        
        <div id="holder">
            <% include ../partials/navigation.ejs %>

            <h1>Showing listings for: <span><%= letter %></span></h1>

            <% listings.forEach(function(listing) { %>
                <div class="programme-listing">
                    <img src="<%= listing.images.standard.replace("{recipe}", "406x228") %>" alt="<%= listing.title %>" />
                    <h2><%= listing.title %></h2>
                </div>
            <% }); %>

            <ul class="paging">
                <% for(var i=1; i<=totalPages; i++) {%>
                   <li>
                    <% if(i == page) { %>
                        <a href="?page=<%= i %>" class="active"><%= i %></a>
                    <% } else { %>
                        <a href="?page=<%= i %>"><%= i %></a>
                    <% } %>
                </li>
                <% } %>
            </ul>

        </div>

    </body>
</html>